#project-list {
  margin-top: 50px;

  .collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .actions {
      display: flex;
      align-items: center;

      .more-info {
        color: #42a5f5;
        margin-right: 0.25rem;

        &:hover {
          cursor: pointer;
          color: #1e88e5;
        }
      }

      .remove-item {
        color: #d32f2f;
        &:hover {
          cursor: pointer;
          color: #b71c1c;
        }
      }
    }
  }
}
