#project-list {
  margin-top: 50px;

  .project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .project-title {
      display: flex;
      align-items: center;

      i {
        color: #d32f2f;
        font-size: 1.25rem;
        margin-right: 0.25rem;

        &:hover {
          cursor: pointer;
          color: #b71c1c;
        }
      }
    }

    .project-actions {
      display: flex;
      align-items: center;

      .action {
        font-size: 1.25rem;
        margin-right: 0;

        &:hover {
          cursor: pointer;
        }
      }

      .edit-item {
      }

      .remove-item {
        color: #d32f2f;

        &:hover {
          color: #b71c1c;
        }
      }
    }
  }
}
