@import "./helpers.scss";

@import "./projectlist.scss";

body {
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

$grey-lighten-2: #e0e0e0;
$grey-lighten-3: #eeeeee;

#content {
  flex: 1 0 auto;

  #panel-left {
    background-color: $grey-lighten-2;
    position: relative;

    #load-create-project-modal-btn {
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
    }

    #component-tree {
      margin-top: 75px;
    }
  }

  #panel-right {
    background-color: $grey-lighten-3;
  }
}

#navbar {
  box-shadow: none;

  .brand-logo {
    padding-left: 1rem;
  }

  .nav-mobile {
    padding-right: 1rem;
  }
}

.panel {
  min-height: 100vh !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

#toast-container {
  top: 3%;
  right: 3%;

  .success {
    background-color: green;
    color: white;
  }
}

/**
  Alerts
**/

.alert {
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.alert-error {
  background-color: #e57373;
  border: 1px solid#ef5350;
}
