.default-link {
  color: #fff;
  text-decoration: none;
}

a.active {
  color: red;
  // TODO:
}

.paper-wrapper {
  padding: 2rem 1rem;
}

.form-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    font-size: 4rem;
  }
}

#signin-form {
  display: flex;
  flex-direction: column;

  .MuiFormControl-root {
    margin-bottom: 1rem;
  }

  #signin-form-submit-btn {
    margin-top: 0.5rem;
  }
}
